a{
    text-decoration:none;
}

a:visited{
    color:black;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: blanchedalmond;
    font-size: x-small;
}

.title{
    font-size: 5em;
    font-variant: small-caps;
    color: rgb(82, 71, 55);
}

.main{
    width: 25%;
    margin: 0 auto;
}

.bayan-element{
    display: flex;
    flex-direction: column;
    border: 0.2em solid rgb(106, 31, 31);
    margin-bottom: 1em;
}

.bayan-header{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-right: 4%;
}

.bayan-header .header{
    margin-left: 2%;
}

.bayan-img {
    display: none;
    border-radius: 5%;
}

.xmark{
    display: none;
}

.arrow{
    font-size: 3em;
}

#cat1:target,
#cat2:target,
#cat3:target,
#cat4:target {
  display: block;
}


.bayan-element:hover .bayan-img{
    display: block;
}

.bayan-element:hover .xmark{
    display: block;
    font-size: 3em;
}

.bayan-element:hover .arrow{
    display: none;
}

.bayan-element:hover{
    border-radius: 5%;
}
